@font-face {
    font-family: 'Averta for Finhay';
    src: url("../fonts/AvertaforFinhay-Regular.ttf");
}

@font-face {
    font-family: 'Averta for Finhay';
    src: url("../fonts/AvertaforFinhay-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Averta for Finhay';
    src: url("../fonts/AvertaforFinhay-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Averta for Finhay';
    src: url("../fonts/AvertaforFinhay-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/AvertaStdCY-Bold_1.otf");
    font-weight: 700;
}